<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notes</title>

  <link rel="stylesheet" href="./assets/normalize.css">
  <style>
    body {
      font-size: 18px;
      line-height: 1.5;
    }

    .note {
      max-width: 720px;
      margin: 0 auto;
    }

    .note__menu-icon {
      position: absolute;
      top: 12
      width: 32px;
      height: 32px;
    }

    /* https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
    blockquote {
      background: #f9f9f9;
      border-left: 10px solid #ccc;
      margin: 1.5em 0;
      padding: 0.5em 10px;
      quotes: "\201C""\201D""\2018""\2019";
    }

    blockquote:before {
      color: #ccc;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }

    blockquote p {
      display: inline;
      font-size: 24px;
      line-height: 1.5;
    }

    @media (prefers-color-scheme: dark) {
      body {
        background-color: #000;

        color: #FFF;
      }
    }
  </style>
</head>
<body>
  <div class="note">
    <nav class="note__nav">
      <div>
        <strong><a href="index.html">NOTES</a></strong>
      </div>
    </nav>

    <div class="note__body">
      <h1>Notes</h1>

      <ul>
        <% notes.each do |note| %>
          <li>
            <a href="<%= note[:file] %>"><%= note[:name] %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</body>
</html>
