<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= note_name %></title>

  <link rel="stylesheet" href="./assets/normalize.css">
  <link rel="stylesheet" href="./assets/style.css">

  <script>
    window.state = {
      noteFile: "<%= note_file %>"
    }
  </script>

  <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
</head>
<body>
  <nav class="nav">
    <div>
      <strong><a href="index.html">NOTES</a></strong>
    </div>
  </nav>

  <div class="note">
    <div class="note__body">
      <%= note_body %>
    </div>
  </div>

  <script>
    document.addEventListener("keydown", (e) => {
      if(e.key === ".") {
        window.open(`vscode://file/${window.state.noteFile}`);
      }
    });
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>

  <script>hljs.highlightAll();</script>
</body>
</html>
